@each $size, $value in $sizes{
  .container-#{$size} {
    max-width: $value;
  }
}

@media #{$breakpoint-sm} {
  @each $size, $value in $sizes{
    .sm\:container-#{$size} {
      max-width: $value;
    }
  }
}

@media #{$breakpoint-md} {
  @each $size, $value in $sizes{
    .md\:container-#{$size} {
      max-width: $value;
    }
  }
}

@media #{$breakpoint-sm} {
  @each $size, $value in $sizes{
    .lg\:container-#{$size} {
      max-width: $value;
    }
  }
}

@media #{$breakpoint-xl} {
  @each $size, $value in $sizes{
    .xl\:container-#{$size} {
      max-width: $value;
    }
  }
}
