$cursors: pointer, text, move, default, grab;

@each $cursor in $cursors {
  .cursor-#{$cursor} {
    cursor: $cursor;
  }
}

@each $cursor in $cursors {
  .\!cursor-#{$cursor} {
    cursor: $cursor;
  }
}
