.hide {
  display: none;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.sm\:block {
  @media #{$breakpoint-sm} {
    display: block;
  }
}

.md\:block {
  @media #{$breakpoint-md} {
    display: block;
  }
}

.lg\:block {
  @media #{$breakpoint-lg} {
    display: block;
  }
}

.sm\:hide {
  @media #{$breakpoint-sm} {
    display: none;
  }
}

.md\:hide {
  @media #{$breakpoint-md} {
    display: none;
  }
}

.lg\:hide {
  @media #{$breakpoint-lg} {
    display: none;
  }
}
