.flex {
  display: flex;
}

.sm\:flex {
  @media #{$breakpoint-sm} {
    display: flex;
  }
}

.md\:flex {
  @media #{$breakpoint-md} {
    display: flex;
  }
}

.lg\:flex {
  @media #{$breakpoint-lg} {
    display: flex;
  }
}

.\!flex {
  display: flex !important;
}

.flex1 {
  flex: 1;
  -webkit-box-flex: 1;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.sm\:flex-column {
  @media #{$breakpoint-sm} {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

.md\:flex-column {
  @media #{$breakpoint-md} {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

.lg\:flex-column {
  @media #{$breakpoint-lg} {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

.sm\:flex-row {
  @media #{$breakpoint-sm} {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.md\:flex-row {
  @media #{$breakpoint-md} {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.lg\:flex-row {
  @media #{$breakpoint-lg} {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.justify-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-space-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@for $i from 1 through 4 {
  .gap#{$i} {
    gap: $unit * $i;
  }
}

@for $i from 1 through 20 {
  .basis#{$i} {
    flex-basis: $unit * $i;
  }
}

.grow {
  flex-grow: 1;
}

.grow0 {
  flex-grow: 0;
}

.shrink {
  flex-shrink: 1;
}

.shrink0 {
  flex-shrink: 0;
}
