<header class="flex flex-row align-center justify-space-between">
  <div>
    Relax CSS
  </div>
  <nav role="navigation" class="Nav">
    <a href="#menu" class="NavTrigger">Menu</a>
    <div class="NavList">
      <a href="#" class="NavList-Item">What is Relax?</a>
      <a href="#" class="NavList-Item">Getting started</a>
      <a href="#" class="NavList-Item">Base</a>
      <a href="#" class="NavList-Item">Modifiers</a>
      <a href="#" class="NavList-Item">Objects</a>
    </div>
  </nav>
</header>
