<!DOCTYPE html>
<html lang="en">
{% include 'partials/head' %}
<body>
  {% include 'partials/header' %}
  {% include 'partials/nav' %}
  {{ title }}
  {{ content }}
  <script src="{{ '/js/scripts.js' | url }}" charset="utf-8"></script>
</body>
</html>
