$h1: 2rem;
$h2: 1.5rem;
$h3: 1.17rem;
$h4: 1rem;
$h5: 0.88rem;
$h6: 0.67rem;

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
  -webkit-font-smoothing: initial;
	line-height: 1.25;
  margin-top: 0;
}

h1, .h1{ font-size: $h1; }
h2, .h2{ font-size: $h2; }
h3, .h3{ font-size: $h3; }
h4, .h4{ font-size: $h4; }
h5, .h5{ font-size: $h5; }
h6, .h6{ font-size: $h6; }

$weight: (
  thin:        $thin,
  light:       $light,
  normal:      $normal,
  semibold:    $semibold,
  bold:        $bold,
  ultrabold:   $ultrabold
);

@each $weight, $value in $weight{
  .#{$weight}{
    font-weight: $value;
  }
}
