$unit: 8px;

$breakpoint-sm: '(min-width: 40rem)' !default;
$breakpoint-md: '(min-width: 52rem)' !default;
$breakpoint-lg: '(min-width: 86rem)' !default;


$thin:       200;
$light:      300;
$normal:     400;
$semibold:   600;
$bold:       700;
$ultrabold:  900;

$h1: 2rem;
$h2: 1.5rem;
$h3: 1.17rem;
$h4: 1rem;
$h5: 0.88rem;
$h6: 0.67rem;
