$unit: 8px;

$xs: 36rem;
$sm: 40rem;
$md: 48rem;
$lg: 64rem;
$xl: 80rem;

$breakpoint-sm: '(min-width: #{$sm})' !default;
$breakpoint-md: '(min-width: #{$md})' !default;
$breakpoint-lg: '(min-width: #{$lg})' !default;
$breakpoint-xl: '(min-width: #{$xl})' !default;

$thin:       200;
$light:      300;
$normal:     400;
$semibold:   600;
$bold:       700;
$ultrabold:  900;

$h1: 2rem;
$h2: 1.5rem;
$h3: 1.17rem;
$h4: 1rem;
$h5: 0.88rem;
$h6: 0.67rem;

$white: #f9f9fa;
$blue:  #006fbe;
$red:   #d2202f;
$green: #007d34;
$gray:  #606e79;
$black: #1D1F20;

$colors: (
  white:         $white,
  blue:          $blue,
  red:           $red,
  green:         $green,
  gray:          $gray,
  black:         $black
);

$sizes: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl
)
